/* $primary: #0b1930;
$secondary: #43aa9b;
$black: #333;
$white: #fff;
$blueGray: #8892b0;
$grayExtraLight: #ccd6f6;

$secondaryFade: rgba(100,255,218,0.1); */

$primary: #1b4752;
$secondary: #53b876;
$black: #333;
$white: #fff;
$blueGray: #b6ced8;
$grayExtraLight: #ccd6f6;
$lighterGreen: #a1d9a8;

$secondaryFade: rgba(83, 184, 118,0.1);
$primaryFade: rgba(27, 71, 82,0.1);
