@media screen and (max-width: 830px) {
    section.experience {
        .content .card-list {
            .card {
                padding-left: 45px;
                margin: 0 0 60px;
                .date-range {
                    top: -22px;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    section.experience .content .card-list .card {
        padding-left: 15px;
    }
}