section.education {
    margin-bottom: 40px;
    .card-list {
        display: flex;
        gap: 20px;
        .card {
            width: 50%;

            h3 {
                font-size: 18px;
                margin-bottom: 5px;
                border-bottom: 3px solid $secondary;
                padding: 0 5px 0 2px;
                width: max-content;
            }

            h5 {
                font-size: 14px;
                margin: 0;
            }

            small {
                font-size: 12px;
                color: $secondary;
            }

            p {
                font-size: 12px;
                font-style: italic;
                font-weight: bold;
                margin: 6px 0 0;
            }
        }
    }
}