section.skills {
    ul {
        list-style: none;
        width: 80%;
        margin: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        li {
            text-align: center;
            width: 100px;
            img {
                width: 60px;
                filter: grayscale(1);
            }

            h4 {
                font-size: 14px;
            }

            &:hover {
                img {
                    filter: grayscale(0);
                }

                h4 {
                    color: $secondary;
                }
            }
        }
    }
}